/composer.lock
/development
/dist
.env
.env.dist
.php_cs.cache
.psh.yaml.dist
/vendor

/webwinkelkeur/common/
/webwinkelkeur/src/Resources/config/config.xml
/webwinkelkeur/src/Resources/config/routes.xml
/webwinkelkeur/src/Resources/config/services.xml
/webwinkelkeur/src/Resources/views
/webwinkelkeur/composer.json

/trustprofile/common/
/trustprofile/src/Resources/config/config.xml
/trustprofile/src/Resources/config/routes.xml
/trustprofile/src/Resources/config/services.xml
/trustprofile/src/Resources/views
/trustprofile/composer.json
