<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>WebwinkelKeur</title>
        <input-field type="text">
            <name>webwinkelKeurId</name>
            <label>WebwinkelKeur ID</label>
            <helpText>The ID of the webshop.</helpText>
            <helpText lang="de-DE">Die ID des Webshops.</helpText>
            <helpText lang="nl-NL">De ID van de webwinkel.</helpText>
        </input-field>
        <input-field type="password">
            <name>webwinkelKeurKey</name>
            <label>API key</label>
            <helpText>Your personal WebwinkelKeur API code.</helpText>
            <helpText lang="de-DE">Ihr persönlicher WebwinkelKeur API-Code.</helpText>
            <helpText lang="nl-NL">Je persoonlijke WebwinkelKeur API code.</helpText>
        </input-field>
    </card>

    <card>
        <title>JavaScript integration</title>
        <input-field type="bool">
            <name>webwinkelKeurJavascript</name>
            <label>WebwinkelKeur JavaScript integration</label>
            <defaultValue>false</defaultValue>
            <helpText>Shows the sidebar</helpText>
            <helpText lang="nl-NL">Toont de zijbalk</helpText>
            <helpText lang="de-DE">Zeigt die Sidebar </helpText>
        </input-field>
    </card>

    <card>
        <title>Invitations</title>
        <title lang="de-DE">Einladungen</title>
        <title lang="nl-NL">Uitnodigingen</title>
        <input-field type="bool">
            <name>webwinkelKeurInvitation</name>
            <label>Enable WebwinkelKeur invitations</label>
            <label lang="nl-NL">WebwinkelKeur-uitnodigingen inschakelen</label>
            <label lang="de-DE">Aktivieren Sie WebwinkelKeur-Einladungen</label>
            <defaultValue>false</defaultValue>
            <helpText>Sends a review invitation after an order has been completed.</helpText>
            <helpText lang="nl-NL">Verzendt een beoordelingsuitnodiging nadat een bestelling is voltooid.</helpText>
            <helpText lang="de-DE">Sendet eine Überprüfungseinladung, nachdem eine Bestellung abgeschlossen wurde.</helpText>
        </input-field>
        <input-field type="int">
            <name>webwinkelKeurInvitationDelay</name>
            <label>Delay</label>
            <label lang="de-DE">Verzögerung</label>
            <label lang="nl-NL">Vertraging</label>
            <defaultValue>0</defaultValue>
            <helpText>The (optional) delay in days (use 0 to send the invitation a.s.a.p.).</helpText>
            <helpText lang="de-DE">Die Verzögerung in Tagen (verwenden Sie 0, um die Einladung sofort zu senden; optional).</helpText>
            <helpText lang="nl-NL">De (optionele) vertraging in dagen (gebruik 0 om de uitnodiging z.s.m. te versturen).</helpText>
        </input-field>
        <input-field type="single-select">
            <name>webwinkelKeurLanguage</name>
            <label>Language</label>
            <label lang="nl-NL">Taal</label>
            <label lang="de-DE">Sprache</label>
            <options>
                <option>
                    <id>cus</id>
                    <name>Customer's language</name>
                    <name lang="nl-NL">Taal van de klant</name>
                    <name lang="de-DE">Sprache des kunden</name>
                </option>
                <option>
                    <id>nld</id>
                    <name>Nederlands</name>
                </option>
                <option>
                    <id>eng</id>
                    <name>English</name>
                </option>
                <option>
                    <id>deu</id>
                    <name>Deutsche</name>
                </option>
                <option>
                    <id>fra</id>
                    <name>French</name>
                </option>
                <option>
                    <id>spa</id>
                    <name>Spanish</name>
                </option>
                <option>
                    <id>ita</id>
                    <name>Italian</name>
                </option>
            </options>
            <defaultValue>cus</defaultValue>
        </input-field>
    </card>

</config>
