<div>
    <sw-button-process
            :isLoading="isLoading"
            :processSuccess="isSaveSuccessful"
            @process-finish="saveFinish"
            @click="check"
    >{{ $tc('dashboard-api-test-button.button') }}</sw-button-process>
    <sw-external-link
            :small="false"
            icon="regular-external-link-s"
            rel="noopener"
            target="_blank"
            href="https://dashboard.trustprofile.com/claims/add"
    >{{ $tc('register-link.title') }}</sw-external-link>
</div>
